@model IEnumerable<Bet.DTO.GroupDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Groups", "Index")
</p>
<table id="groups" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
        </td>
        <td>
            <button data-group-id="@item.Id" class="btn-link js-delete">Delete</button>
        </td>
    </tr>

}

</table>
@section scripts
{
    <script>
        $(document).ready(function() {

            $("#groups .js-delete").on("click", function() {
                var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this groups?", function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/groups/" + button.attr("data-group-id"),
                                method: "DELETE",
                                success: function() {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                        });
                });
        });
    </script>
}