@model IEnumerable<Bet.DTO.BetDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bets</h2>

<p>
    @Html.ActionLink("Bets List", "Index")
</p>
<table id="bets" class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPossibleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LowestPossibleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPossibleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowestPossibleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        
        <td>
            <button data-group-id ="@item.Id" class="btn-link js-delete">Delete</button>
        </td>
        
    </tr>
}

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
           
            $("#bets .js-delete").on("click", function () {
                var button = $(this);
                    confirm("Are you sure you want to delete this bet");
                    $.ajax({
                        url: "/api/bets/" + button.attr("data-group-id"),
                        method: "DELETE",
                        success: function() {
                            button.parents("tr").remove();
                        }
                });
        });
    </script>
}