@model Bet.Models.ViewModels.BetViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Bets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bet.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bet.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bet.MaxPossibleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bet.MaxPossibleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bet.LowestPossibleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bet.LowestPossibleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bet.Guess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bet.Guess)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
