@model IEnumerable<Bet.DTO.BetDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bets</h2>

<p>
    @Html.ActionLink("Bets List", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPossibleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LowestPossibleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPossibleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LowestPossibleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
   
    </tr>
}

</table>
