@model Bet.Models.ViewModels.ConsoleBetGameViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Game.GetEventName()</h2>
<p>Hi @Model.Player.UserName.ToString()</p>
<p>@Model.Group.GetGroupName()</p>
<p>@Model.MessageGenerator.GetMainMessage()</p>
<p>@Model.MessageGenerator.GetResultsMessage()</p>

