@model IEnumerable<Bet.DTO.GameDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Games", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallestPossibleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LargestPossibleNumber)
        </th>
       
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallestPossibleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LargestPossibleNumber)
        </td>
       
        <td>
           
        </td>
    </tr>
}

</table>
