@model Bet.DTO.GameDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GameDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallestPossibleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallestPossibleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargestPossibleNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargestPossibleNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BetsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BetsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameWon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
